:root {
    --HeaderHeight: 60px;
    --HeaderColor: orange;
}
html[data-theme="dark"] {
    --krasa: rgb(104, 104, 104);
    --MyColor: white;
    --HeaderColor: black;
}

html[data-theme="light"] {
    --krasa: white;
    --MyColor: black;
    --HeaderColor: orange;
}
body {
    margin: 0;
    background-color: var(--krasa);
}
article {
    font-family: cursive;
    font-size: 20px;
    text-align: center;
}
input {
    margin: none;
}
header {
    top: 0;
    background-color: var(--HeaderColor);
    height: var(--HeaderHeight);
    width: 100%;
    position: fixed;
}
main {
    margin-top: var(--HeaderHeight);
}
h1 {
    color: var(--MyColor);
}
p {
    color: var(--MyColor);
}
