:root {
    --background-color: rgb(240, 237, 212);
    --header-color: rgb(236, 205, 180);
    --check-color: rgb(249, 251, 231);
    --text-color: black;
    --light-opacity: 100;
    --dark-opacity: 0;
    --icon-size: 40px;
    --header-size: 50px;
}
body {
    margin: 0;
    background-color: var(--background-color);
}
main {
    top: var(--header-size);
    color: var(--text-color);
}
header>img,header>input{
    width: var(--icon-size);
    height: var(--icon-size);
    position: absolute;
    right: 0;
    margin: 5px;
}
img+img {
    opacity: var(--light-opacity);
}
input+img {
    opacity: var(--dark-opacity);
}
header>input{
    opacity: 0;
    z-index: 10;
}
header {
    height: var(--header-size);
    background-color: var(--header-color);
}
form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
}
label {
    display: flex;
    flex-direction: row;
    background-color: var(--check-color);
    margin: 20px;
    border-radius: 10px;
}
form>input {
    height: fit-content;
    width: fit-content;
    color: var(--text-color);
    background-color: var(--check-color);
    border: 0;
    margin: 20px;
    border-radius: 5px;
}
html[data-theme="light"] {
    --background-color: rgb(240, 237, 212);
    --header-color: rgb(236, 205, 180);
    --check-color: rgb(249, 251, 231);
    --text-color: black;
    --light-opacity: 100;
    --dark-opacity: 0;
}
html[data-theme="dark"] {
    --background-color: rgb(29, 38, 125);
    --header-color: rgb(92, 70, 156);
    --check-color: rgb(12, 19, 79);
    --text-color: white;
    --light-opacity: 0;
    --dark-opacity: 100;
}